@import '../abstracts/variables';

.ca-navbar{
  font-size: 20px;
  font-weight: 600;
  padding: 20px 100px;
  background-color: $ca-bg;

  .navbar-toggler{
    outline: none;
    border: none;
  }

  .navbar-brand{
    margin-right: 40px;
    img{
      width: 48px;
    }
  }

  .navbar-nav{
    justify-content: space-between;
    .nav-link{
      color: $ca-white;
      &:hover{
        color: $ca-yellow;
      }
    }
  }

  @media(max-width: 1160px){
    padding: 20px 50px;
    font-size: 16px;
  }
}