@import '../abstracts/variables';

.ca-quotes{
  background-color: $ca-dark-bg;
  padding: 100px 0;

  &__carousel{
    .carousel-indicators{
      li{
        background-color: $ca-yellow;
        opacity: 1;

        &.active{
          background-color: $ca-white;
        }
      }
    }
    &__item{
      height: 400px;
      div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        img{
          width: 50px;
          margin-bottom: 40px;
        }

        h4{
          width: 60%;
          margin-bottom: 40px;
          font-size: 28px;
        }

        p{
          margin: 0;
          font-size: 20px;
        }
      }
      
      @media(max-width: 780px){
        height: 450px;
      }
      
      @media(max-width: 460px){
        height: 700px;
      }
    }

    .carousel-control-prev, .carousel-control-next{
      background-color: $ca-purple;
      width: auto;
      height: fit-content;
      padding: 15px;
      border-radius: 50%;
      top: 40%;
    }
  }
}